footer {
  .grey {
    background-color: #ddd;
    height: 20px;
    width: 100%;
  }
  .main-footer {
    background-color: #005691;
    text-align: center;
    color: rgb(226, 226, 226);
    padding: 15px 0;
    font-size: 14px;
    img {
      width: 100px;
    }
    p {
      margin: 0;
    }
  }
}
