<div class="home-cover">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="offset-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-book">
                        book now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="locations">
    <div class="container">
        <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-md-2">
                <div class="c-img"><img src="../../assets/images/img1.jpeg" alt=""></div>
            </div>
            <div class="col-md-2">
                <div class="c-img"><img src="../../assets/images/img2.jpeg" alt=""></div>
            </div>
            <div class="col-md-2">
                <div class="c-img"><img src="../../assets/images/img3.jpeg" alt=""></div>
            </div>
            <div class="col-md-2">
                <div class="c-img"><img src="../../assets/images/img4.jpeg" alt=""></div>
            </div>
            <div class="col-md-2">
                <div class="c-img"><img src="../../assets/images/img5.png" alt=""></div>
            </div>
            <div class="offset-md-1"></div>
        </div>
    </div>
</div>
<div class="events">
    <div class="container">
        <div class="col-md-3">
            <app-card></app-card>
        </div>
    </div>
</div>